@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #dddddd #ffffff;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

.sidenavbar {
  width: 100%;
  color: #ffffff;
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
}
.sidenavbar ul {
  list-style: none;
  margin: 0.55rem 0.69rem;
  padding: 0;
  display: grid;
}
.sidenavbar ul li {
  padding: 0.33rem 0;
  font-weight: 500;
  position: relative;
}
.sidenavbar ul li a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
}
.sidenavbar ul li a:not(:only-child):after {
  content: "\f282";
  font-family: "bootstrap-icons";
  position: absolute;
  right: 0.33rem;
  top: 0;
}
.sidenavbar ul li.active > a {
  color: #ffffff;
}
.sidenavbar ul li.active > a:not(:only-child):after {
  content: "\f285";
}
.sidenavbar ul li ul {
  display: none;
}
.sidenavbar ul li ul li a {
  display: block;
  padding: 0 1rem;
  transition: all 0.15s;
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  border-left: 3px solid transparent;
}
.sidenavbar ul li ul li a:hover {
  border-color: #ffffff;
  color: #ffffff;
}
.sidenavbar ul li ul li ul {
  margin-left: 1rem;
  border-left: 1px dotted #ffffff;
}
.sidenavbar ul li ul li ul li a {
  display: block;
  padding: 0 1rem;
  transition: all 0.15s;
  position: relative;
}
.sidenavbar ul li.active > ul {
  display: block;
}

.btn-info {
  background-color: #75A19E;
  color: #ffffff;
  border-color: #75A19E;
}
.btn-primary {
  background-color: #6455c3;
  color: #ffffff;
  border-color: #6455c3;
}
.btn-primary:hover, .btn-primary.show {
  background-color: #2A3650;
  border-color: #2A3650;
}
.btn-secondary {
  background-color: #777777;
  color: #ffffff;
  border-color: #777777;
}

.filterclms {
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
  -moz-column-gap: 0.69rem;
       column-gap: 0.69rem;
  row-gap: 0.69rem;
}
.filterclms .col label {
  font-weight: 500;
}

.tbtns {
  display: flex;
  -moz-column-gap: 0.66rem;
       column-gap: 0.66rem;
}
.tbtns button, .tbtns a {
  text-decoration: none;
  border: none;
  outline: none;
  display: inline-flex;
  background-color: transparent;
  -moz-column-gap: 0.22rem;
       column-gap: 0.22rem;
}
.tbtns button.edit, .tbtns a.edit {
  color: #6455c3;
}
.tbtns button.delete, .tbtns a.delete {
  color: #f96459;
}
.tbtns button:hover, .tbtns a:hover {
  color: #75A19E;
}
.tbtns.filled button, .tbtns.filled a {
  color: #ffffff;
  border-radius: 3px;
  padding: 0.01rem 0.3rem;
  font-weight: 500;
}
.tbtns.filled button.edit, .tbtns.filled a.edit {
  background-color: rgba(100, 85, 195, 0.23);
  color: #6455c3;
}
.tbtns.filled button.delete, .tbtns.filled a.delete {
  background-color: rgba(249, 100, 89, 0.23);
  color: #f96459;
}
.tbtns.filled button:hover, .tbtns.filled a:hover {
  background-color: #ffffff;
}

.dt-container .dt-paging .dt-paging-button.current {
  background: #F4F7F9;
  background-color: #F4F7F9 !important;
  border-color: #F4F7F9 !important;
}
.dt-container .dt-paging .dt-paging-button.current:hover, .dt-container .dt-paging .dt-paging-button.current:active {
  color: #ffffff !important;
  background-color: #dddddd !important;
  border-color: #F4F7F9 !important;
}
.dt-container .dt-paging .dt-paging-button.disabled:hover, .dt-container .dt-paging .dt-paging-button.disabled:active {
  color: #ffffff !important;
  background: #dddddd;
  background-color: #dddddd !important;
  border-color: #F4F7F9 !important;
}
.dt-container .dt-paging .dt-paging-button:hover {
  background-color: rgba(100, 85, 195, 0.6) !important;
  background: rgba(100, 85, 195, 0.6) !important;
  border-color: #6455c3 !important;
  color: #ffffff !important;
}
.dt-container .dt-search {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}
.dt-container .dt-search label {
  display: none;
}
.dt-container .dt-search input {
  text-indent: 1.5rem;
}
.dt-container .dt-search::before {
  content: "\f52a";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-family: "bootstrap-icons";
  left: 0.5rem;
  font-size: 1.5rem;
  color: #777777;
}

.modal-header {
  background-color: #F4F7F9;
  padding: 0.66rem 1rem;
}

.dropdown-menu {
  border-color: #dddddd !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #6455c3;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: rgba(100, 85, 195, 0.17);
}

.switchlinks {
  margin-right: 2rem;
  display: flex;
  -moz-column-gap: 0.66rem;
       column-gap: 0.66rem;
  font-weight: 500;
  align-items: center;
  flex-direction: column;
}
.switchlinks button {
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: #6455c3;
  display: inline-flex;
  margin-left: auto;
}

.shoplistswitch {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  row-gap: 0.44rem;
}
.shoplistswitch li {
  display: grid;
  -moz-column-gap: 0.66rem;
       column-gap: 0.66rem;
  grid-template-columns: 3rem auto;
  border-bottom: 1px solid #dddddd;
  padding: 0.33rem 0;
}
.shoplistswitch li a {
  color: #777777;
  text-decoration: none;
}
.shoplistswitch li a:hover {
  color: #6455c3;
}
.shoplistswitch li picture {
  display: inline-flex;
}
.shoplistswitch li picture img {
  max-width: 100%;
}

.btnsGroup {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.btnsGroup-right {
  justify-content: flex-end;
}
.btnsGroup button, .btnsGroup a {
  -moz-column-gap: 0.44rem;
       column-gap: 0.44rem;
  display: inline-flex;
  align-items: center;
  min-width: 7rem;
}

.tableheadform {
  display: flex;
  -moz-column-gap: 0.69rem;
       column-gap: 0.69rem;
}
.tableheadform .form-control {
  padding: 0.22rem 0.55rem;
}
.tableheadform button {
  -moz-column-gap: 0.44rem;
       column-gap: 0.44rem;
  display: inline-flex;
  align-items: center;
  padding: 0.22rem 0.55rem;
}

table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date {
  text-align: left;
}

.imagebox article {
  min-height: 50vh;
  position: relative;
}
.imagebox .hidden {
  display: none;
}
.imagebox .drop {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #333;
  background-color: #F4F7F9;
  border: 4px dashed #75A19E;
  cursor: pointer;
  transition: all 0.15s;
  z-index: 0;
}
.imagebox .drop.dragging, .imagebox .drop:hover {
  border-color: #C5CF61;
}
.imagebox .drop p {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -19px;
  margin-bottom: 0;
  text-align: center;
}
.imagebox .image-resize {
  max-width: 100%;
  margin-bottom: 1rem;
}
.imagebox .previewthumbnail {
  display: inline-block;
  padding: 0.55rem;
  background-color: rgba(221, 221, 221, 0.45);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.ic-container {
  position: relative;
}

.ic-overlay-n,
.ic-overlay-e,
.ic-overlay-s,
.ic-overlay-w {
  position: absolute;
  background-color: #3D434A;
  opacity: 0.7;
}

.ic-overlay-n {
  top: 0;
}

.ic-overlay-e {
  top: 0;
  right: 0;
  bottom: 0;
}

.ic-overlay-s {
  bottom: 0;
}

.ic-overlay-w {
  top: 0;
  bottom: 0;
  left: 0;
}

.ic-resize-handle-ne,
.ic-resize-handle-se,
.ic-resize-handle-nw,
.ic-resize-handle-sw {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #F4F7F9;
  z-index: 999;
}

.ic-resize-handle-nw {
  top: -5px;
  left: -5px;
  cursor: nw-resize;
}

.ic-resize-handle-sw {
  bottom: -5px;
  left: -5px;
  cursor: sw-resize;
}

.ic-resize-handle-ne {
  top: -5px;
  right: -5px;
  cursor: ne-resize;
}

.ic-resize-handle-se {
  bottom: -5px;
  right: -5px;
  cursor: se-resize;
}

.ic-crop-marker {
  position: absolute;
  z-index: 999;
  border: solid 2px #F4F7F9;
  cursor: move;
}

.ic-move-handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ic-container img {
  display: block;
  max-width: 100%;
}

.list-group-item.active {
  background-color: #F4F7F9;
  border-color: #F4F7F9;
  color: #6455c3;
}

.small {
  font-size: small;
  color: #777777;
}

.form-check-input {
  border: 1px solid #a9a9a9;
  border-width: 0.1rem;
}
.form-check-input:checked {
  background-color: #6455c3;
  border-color: #6455c3;
}

.form-control,
.form-select {
  border: 1px solid #a9a9a9;
}

.alertcontents {
  display: grid;
  text-align: center;
  row-gap: 0.5rem;
}
.alertcontents i {
  font-size: 4rem;
}

.card-header {
  background-color: rgba(100, 85, 195, 0.27) !important;
}

.nav-tabs .nav-link {
  color: #52526C;
}
.nav-tabs .nav-link.active {
  background-color: rgba(197, 207, 97, 0.27);
}

.bg-danger,
.btn-danger {
  background-color: #f96459 !important;
  border-color: #f96459;
}
.bg-warning,
.btn-warning {
  background-color: #f8bb2d !important;
  border-color: #f8bb2d;
}
.bg-info,
.btn-info {
  background-color: #8ddef9 !important;
  border-color: #8ddef9;
}
.bg-success,
.btn-success {
  background-color: #C5CF61 !important;
  border: #C5CF61;
}

.accordion-button {
  padding: 0.74rem 1rem;
}

.formclms {
  margin-bottom: 1rem;
  position: relative;
}

.formdivisers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 0.91rem;
       column-gap: 0.91rem;
}
.formdivisers-two {
  grid-template-columns: repeat(2, 1fr);
}
.formdivisers-single {
  grid-template-columns: 1fr;
}

.ui-datepicker {
  width: -moz-max-content;
  width: max-content;
}
.ui-datepicker-header {
  background-color: #75A19E;
  color: white;
  text-align: center;
  padding: 0.55rem 1rem;
  border-radius: 8px 8px 0px 0px;
}
.ui-datepicker-prev span, .ui-datepicker-next span {
  display: none;
}
.ui-datepicker-prev:after, .ui-datepicker-next:after {
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: -0.5rem;
  cursor: pointer;
}
.ui-datepicker-prev:after {
  content: "«";
  float: left;
}
.ui-datepicker-next:after {
  content: "»";
  float: right;
}
.ui-datepicker-calendar {
  text-align: center;
  margin: 0 auto;
  padding: 8px;
}
.ui-datepicker-calendar th {
  padding: 10px;
  color: #6455c3;
}
.ui-datepicker-calendar td {
  padding: 0;
}
.ui-datepicker-calendar .ui-state-default {
  text-decoration: none;
  color: #3D434A;
  padding: 0.11rem 0.33rem;
}
.ui-datepicker-calendar .ui-state-active {
  color: #3D434A;
  background-color: #C5CF61;
}

/* This for loop creates the 	necessary css animation names 
Due to the split circle of circleProgress-left and circleProgress right, we must use the animations on each side. 
*/
@keyframes growcirclebar {
  0%, 33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}
@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
.redcircle,
.greencircle,
.bluecircle[role=circlebar] {
  --size: 3rem;
  --fg: #C5CF61;
  --fg1: #f96459;
  --fg2: #8ddef9;
  --bg: #eeeeee;
  --pgPercentage: var(--value);
  animation: growcirclebar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: calc(var(--size) / 4);
  color: #3D434A;
}

div[role=circlebar]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}

.greencircle {
  background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
}

.redcircle {
  background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0), conic-gradient(var(--fg1) calc(var(--pgPercentage) * 1%), var(--bg) 0);
}

.bluecircle {
  background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0), conic-gradient(var(--fg2) calc(var(--pgPercentage) * 1%), var(--bg) 0);
}

.toast {
  font-family: helvetica, arial;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.toast {
  border-radius: 5px;
}

.toast {
  background-color: #e3e3e3;
  color: #3D434A;
  border: 1px solid #dddddd;
}

.toast {
  position: fixed;
  top: 5px;
  left: 2%;
  width: 50%;
  margin: 0 25% 0 25%;
  z-index: 9999;
}
.toast .toast-body {
  background-color: #4eb90b;
  color: #ffffff;
}
.toast .alert {
  text-align: center;
  padding: 17px 0 20px 0;
  margin: 0 25% 0 25%;
  height: 54px;
  font-size: 20px;
}

.loginpage {
  width: 100%;
  height: 100vh;
  background-image: url(../img/loginbg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-content: center;
}
.loginpage .box {
  width: 100%;
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.67);
  display: grid;
  grid-template-columns: minmax(25rem, 1fr) 15rem;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media only screen and (max-width: 56.25em) {
  .loginpage .box {
    grid-template-columns: 1fr;
    min-width: 33rem;
  }
}
.loginpage .box .loginform {
  padding: 1.5rem;
}
.loginpage .box .loginform .btn {
  background-color: #6455c3;
  color: #ffffff;
}
.loginpage .box .loginform .btn:hover {
  background-color: #2A3650;
}
.loginpage .box .loginform .forgot {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
  padding: 1rem 0;
  justify-content: space-between;
}
.loginpage .box .loginform .forgot p {
  margin: 0;
}
.loginpage .box .loginform .forgot p .link-dark {
  text-decoration: none;
}
.loginpage .box .loginform .forgot p .link-dark:hover {
  color: #A3714E;
}
@media only screen and (max-width: 56.25em) {
  .loginpage .box .loginform {
    order: 2;
  }
}
.loginpage .box .logoside {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: rgba(42, 54, 80, 0.67);
}
.loginpage .box .logoside img {
  max-width: 100%;
}
@media only screen and (max-width: 56.25em) {
  .loginpage .box .logoside img {
    max-height: 3.5rem;
  }
}

.pagelayout {
  height: 100vh;
  width: 100%;
  display: flex;
}
.pagelayout .sidebar {
  background-color: #2A3650;
  width: 17rem;
  transition: all 0.15s;
}
.pagelayout .sidebar.hide {
  margin-left: -17rem;
}
@media only screen and (max-width: 56.25em) {
  .pagelayout .sidebar {
    margin-left: -17rem;
  }
  .pagelayout .sidebar.hide {
    margin-left: 0;
  }
}
.pagelayout .sidebar .logo {
  padding: 0 0.69rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
}
.pagelayout .sidebar .logo img {
  max-width: 100%;
  display: flex;
  max-height: 3.5rem;
}
.pagelayout .contentwrap {
  width: 100%;
  overflow-y: auto;
  height: 100vh;
  background-color: #F4F7F9;
}
.pagelayout .contentwrap header {
  height: 4.4rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: sticky;
  z-index: 100;
  top: 0;
}
.pagelayout .contentwrap header .menubtn {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: #F4F7F9;
  color: #3D434A;
  font-size: 1.3rem;
  border-radius: 3px;
  transition: all 0.15s;
  position: relative;
  z-index: 1111;
}
.pagelayout .contentwrap header .menubtn:hover {
  background-color: #75A19E;
  color: #dddddd;
}
.pagelayout .contentwrap header .dropdown-header {
  font-weight: 600;
  font-size: medium;
  color: #6455c3;
}
.pagelayout .contentwrap header .dropdown-item {
  display: flex;
  -moz-column-gap: 0.33rem;
       column-gap: 0.33rem;
}
.pagelayout .contentwrap header .navleft h4 {
  font-size: 1.2rem;
  margin: 0;
}
.pagelayout .contentwrap header .breadcrumb {
  margin: 0;
}
.pagelayout .contentwrap header .breadcrumb-item {
  font-weight: 500;
  font-size: 0.91rem;
}
.pagelayout .contentwrap header .breadcrumb-item a {
  text-decoration: none;
  color: #52526C;
}
.pagelayout .contentwrap header .breadcrumb-item.active {
  color: #6455c3;
}
.pagelayout .contentwrap header .navright {
  display: flex;
  margin-left: auto;
}
.pagelayout .contentwrap header .navright .nasearch {
  position: relative;
}
.pagelayout .contentwrap header .navright .nasearch input {
  text-indent: 1.5rem;
}
.pagelayout .contentwrap header .navright .nasearch::before {
  content: "\f52a";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  font-family: "bootstrap-icons";
  left: 0.3rem;
  font-size: 1.5rem;
  color: #777777;
}
.pagelayout .contentwrap header .navright .navlinks {
  display: inline-flex;
  -moz-column-gap: 0.69rem;
       column-gap: 0.69rem;
  margin: 0 0.69rem 0 0;
}
.pagelayout .contentwrap header .navright .navlinks a {
  height: 32px;
  width: 32px;
  background-color: #F4F7F9;
  color: #3D434A;
  display: inline-flex;
  border-radius: 50%;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  transition: all 0.15s;
  position: relative;
}
.pagelayout .contentwrap header .navright .navlinks a span {
  position: absolute;
  z-index: 101;
  background-color: #f96459;
  color: #ffffff;
  display: inline-flex;
  border-radius: 60%;
  font-size: 0.7rem;
  width: 1.3rem;
  height: 1.3rem;
  align-items: center;
  justify-content: center;
  top: -0.5rem;
  right: -0.5rem;
}
.pagelayout .contentwrap header .navright .navlinks a:hover {
  background-color: rgba(197, 207, 97, 0.5);
}
.pagelayout .contentwrap .contents {
  margin: 1rem;
}

.datatables {
  background-color: #ffffff;
  padding: 0.69rem;
  border-radius: 0.69rem;
}

.dt-container .dt-length label {
  margin-left: 5px;
}

.contentbox {
  background-color: #ffffff;
  padding: 0.69rem;
  border-radius: 0.69rem;
  display: block;
}

.titles {
  display: flex;
  margin-bottom: 0.55rem;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .titles {
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: flex-start;
  }
}
.titles h5, .titles h6 {
  margin-bottom: 0;
}
.titles.borderd {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 0.55rem;
}
.titles .titlegroup {
  display: flex;
  -moz-column-gap: 0.55rem;
       column-gap: 0.55rem;
  align-items: center;
}
.titles .titlegroup .form-select {
  max-width: -moz-max-content;
  max-width: max-content;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  font-weight: 500;
}
.titles .btns {
  display: inline-flex;
  margin-left: auto;
  -moz-column-gap: 0.69rem;
       column-gap: 0.69rem;
}

.themetable thead tr th {
  background-color: rgba(100, 85, 195, 0.26);
}
.themetable thead tr th:first-child {
  border-top-left-radius: 0.69rem;
}
.themetable thead tr th:last-child {
  border-top-right-radius: 0.69rem;
}
.themetable tbody tr td {
  color: #000000;
}

.businesstabs {
  display: grid;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.businesstabs .nav-tabs {
  display: flex;
  border: none;
  -moz-column-gap: 1px;
       column-gap: 1px;
}
.businesstabs .nav-tabs-item {
  display: flex;
}
.businesstabs .nav-tabs .nav-link {
  border: none;
  display: flex;
  -moz-column-gap: 0.55rem;
       column-gap: 0.55rem;
  color: #3D434A;
  align-items: center;
  font-weight: 500;
  background-color: #F4F7F9;
}
.businesstabs .nav-tabs .nav-link:hover {
  border: none;
  background-color: rgba(100, 85, 195, 0.45);
}
.businesstabs .nav-tabs .nav-link.active {
  border: none;
  color: #ffffff;
  background-color: rgba(100, 85, 195, 0.45);
}
.businesstabs .tab-content {
  border-top: 1px solid #dddddd;
}
.businesstabs .tab-content img {
  max-width: 100%;
}
.businesstabs .tab-content .btns {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  justify-content: flex-end;
}
.businesstabs .tab-content .btns button {
  display: inline-flex;
  -moz-column-gap: 0.55rem;
       column-gap: 0.55rem;
  border-radius: 5px;
}
.businesstabs .tab-content .btns button:hover {
  background-color: #75A19E;
  border-color: #75A19E;
}

.businesinfoContent {
  padding: 1rem 0;
  border-radius: 5px;
}
.businesinfoContent .infogrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.businesinfoContent .infogrid picture {
  display: flex;
  margin-bottom: 1rem;
}
.businesinfoContent img {
  border-radius: 5px;
}
.businesinfoContent table th, .businesinfoContent table td {
  color: #3D434A;
  vertical-align: bottom;
}
.businesinfoContent .max40 {
  max-width: 40rem;
}

.Producttabs {
  display: grid;
  grid-template-columns: 13rem 1fr;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.Producttabs .nav-tabs {
  display: flex;
  flex-direction: column;
  border: none;
}
.Producttabs .nav-tabs-item {
  display: flex;
}
.Producttabs .nav-tabs .nav-link {
  border: none;
  border-radius: 0;
  display: flex;
  width: 100%;
  -moz-column-gap: 0.55rem;
       column-gap: 0.55rem;
  color: #3D434A;
  align-items: center;
  font-weight: 500;
}
.Producttabs .nav-tabs .nav-link i {
  font-size: 1.5rem;
  color: #777777;
}
.Producttabs .nav-tabs .nav-link:hover {
  border: none;
  background-color: #F4F7F9;
}
.Producttabs .nav-tabs .nav-link.active {
  border: none;
  color: #75A19E;
  background-color: #F4F7F9;
}
.Producttabs .nav-tabs .nav-link.active i {
  color: #6455c3;
}
.Producttabs .tab-content {
  border-left: 1px solid #dddddd;
  margin-left: 1rem;
}
.Producttabs .tab-content img {
  max-width: 100%;
}
.Producttabs .tab-content .btns {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  justify-content: flex-end;
}
.Producttabs .tab-content .btns button {
  display: inline-flex;
  -moz-column-gap: 0.55rem;
       column-gap: 0.55rem;
  min-width: 6rem;
  border-radius: 5px;
}
.Producttabs .tab-content .btns button:hover {
  background-color: #75A19E;
  border-color: #75A19E;
}

.addproductContent {
  padding: 0 1rem;
}
.addproductContent .infogrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.addproductContent .infogrid picture {
  display: flex;
  margin-bottom: 1rem;
}
.addproductContent img {
  border-radius: 5px;
}
.addproductContent table th, .addproductContent table td {
  color: #3D434A;
  vertical-align: bottom;
}
.addproductContent .max40 {
  max-width: 40rem;
}

#variantTable.dataTable thead > tr > th {
  padding: 5px;
}
#variantTable.dataTable thead > tr > th.dt-orderable-asc, #variantTable.dataTable thead > tr > th.dt-orderable-desc {
  padding-right: 19px;
}
#variantTable.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order, #variantTable.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order {
  right: 6px;
}

.dbcardwraper {
  display: grid;
  background-color: rgba(117, 161, 158, 0.17);
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.dbcardwraper .dbcard {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  box-shadow: 0.5rem 0 1rem #a9a9a9;
}
.dbcardwraper .dbcard a {
  color: #3D434A;
}
.dbcardwraper .dbcard h4 {
  margin: 0;
  font-size: x-large;
}
.dbcardwraper .dbcard h4 small {
  font-size: medium;
  display: block;
  margin-top: 0.5rem;
}
.dbcardwraper .dbcard span {
  display: inline-flex;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.dbcardwraper .dbcard span.green {
  background-color: #C5CF61;
}
.dbcardwraper .dbcard span.red {
  background-color: #f96459;
}
.dbcardwraper .dbcard span.blue {
  background-color: #6455c3;
}
.dbcardwraper .dbcard span.brown {
  background-color: #A3714E;
}
.dbcardwraper .dbcard span.blue2 {
  background-color: #8ddef9;
}
.dbcardwraper .dbcard span.blue3 {
  background-color: #75A19E;
}
.dbcardwraper .dbcard span i {
  font-size: 2.2rem;
}

.dbcardwraper4 {
  display: grid;
  background-color: rgba(117, 161, 158, 0.04);
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.dbcardwraper4 .dbcard {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  box-shadow: 0.3rem 0 0.77rem rgba(169, 169, 169, 0.45);
}
.dbcardwraper4 .dbcard a {
  color: #3D434A;
}
.dbcardwraper4 .dbcard h4 {
  margin: 0;
  font-size: x-large;
}
.dbcardwraper4 .dbcard h4 small {
  font-size: medium;
  display: block;
  margin-top: 0.5rem;
}
.dbcardwraper4 .dbcard span {
  display: inline-flex;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.dbcardwraper4 .dbcard span.green {
  background-color: #C5CF61;
}
.dbcardwraper4 .dbcard span.red {
  background-color: #f96459;
}
.dbcardwraper4 .dbcard span.blue {
  background-color: #6455c3;
}
.dbcardwraper4 .dbcard span.brown {
  background-color: #A3714E;
}
.dbcardwraper4 .dbcard span.blue2 {
  background-color: #8ddef9;
}
.dbcardwraper4 .dbcard span.blue3 {
  background-color: #75A19E;
}
.dbcardwraper4 .dbcard span i {
  font-size: 2.2rem;
}
.dbcardwraper4 .dbcard img {
  display: inline-flex;
  height: 4rem;
  width: 4rem;
}

.dbcolum {
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 5px;
  overflow: hidden;
}
.dbcolum .dbcltitle {
  background-color: rgba(197, 207, 97, 0.31);
  padding: 0.33rem;
  font-weight: 500;
  display: flex;
}
.dbcolum .dbcolcontent {
  display: block;
  padding: 0.74rem;
}

.table thead tr th {
  background-color: rgba(117, 161, 158, 0.26);
}

.progress {
  margin: 0.5rem 0;
}

.imagefileinput {
  max-width: 40rem;
  margin-bottom: 1rem;
}

.imgagecontainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
.imgagecontainer figure {
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  padding: 0.5rem;
  background-color: #ffffff;
}
.imgagecontainer figure img {
  max-width: 100%;
  border-radius: 5px;
}

.userprofile {
  display: grid;
  grid-template-columns: 25rem 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.userprofile .myprofile, .userprofile .editprofile {
  background-color: #ffffff;
  padding: 1rem;
}
.userprofile .userpicname {
  display: grid;
  grid-template-columns: repeat(2, auto);
  -moz-column-gap: 0.88rem;
       column-gap: 0.88rem;
  align-items: center;
}
.userprofile .userpicname figure {
  display: flex;
}
.userprofile .userpicname figure img {
  max-width: 100%;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}
.userprofile .userpicname figcaption {
  display: flex;
}
.userprofile .userpicname figcaption h5 {
  margin: 0;
}
.userprofile .userpicname figcaption h5 span {
  font-weight: 500;
  font-size: 90%;
  color: #777777;
}/*# sourceMappingURL=style.css.map */